.container {
    justify-content: space-evenly
}

.container header h1 {
    font-size: 48px;
    text-transform: uppercase;
}

.container #play a button {
    font-size: 36px;
    background-color: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 10px;
}