html, body {
    position: relative;
}

.container {
    justify-content: space-evenly;
    background: url('../assets/img/bg.png') no-repeat center center fixed;
    background-size: cover;
}

@media (max-width: 800px) {
    .container {
        background: url('../assets/img/bg-md.png') no-repeat center fixed;
    }

    @media (min-height: 700px) {
        .container {
            background: url('../assets/img/bg-md2.png') no-repeat center fixed;
        }   
    }

}

.container header {
    display: flex;
    align-items: center;
}

.container header h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
}

.container header #darkmode {
    width: 25px;
    height: 10px;
    border-radius: 50px;
    background-color: #000000;
    padding: 5px;
    position: relative;
}

.container header #darkmode:hover {
    cursor: pointer;
}

.container header #darkmode #lever {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    transition: all 0.5s ease;
}

.move-lever {
    left: calc(25px - 5px);
}

.container header h1 span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.title-darkmode {
    -webkit-text-stroke-color: #FFFFFF !important;
}

@media (max-width: 500px) {
    .container header h1 {
        font-size: 36px;
    }

    .container #play a button {
        font-size: 24px !important;
        border: 3px solid #000000 !important;
    }
}

@media (max-width: 400px) {
    .container header h1 {
        font-size: 28px;
    }
}

.container #play a button {
    font-size: 36px;
    background-color: transparent;
    border: 5px solid #000000;
    border-radius: 10px;
}

.container #modal-credits button {
    font-size: 14px;
    background-color: transparent;
    border: 3px solid #000000;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.button-darkmode {
    border-color: #FFFFFF !important;
    color: #FFFFFF;
}

.modal-container {
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.5);
    display: none;
}

.modal-container #modal {
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    background-color: #414141;
    color: rgb(214, 203, 203)
}

.modal-container #modal .modal-header h3, .modal-body h4 {
    margin: 5px;
}

.modal-container #modal .modal-footer button {
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: 'Aldrich', sans-serif;
    font-size: 18px;
    margin: 5px
}

.modal-container #modal .modal-footer button:hover {
    cursor: pointer;
    color: rgb(214, 203, 203);
    background-color: #000000;
    transition: 0.3s;
}

.modal-container #modal .modal-body a {
    text-decoration: none;
    color: cornflowerblue;
}

.darkmode {
    background-color: #1F2C38;
    color: #FFFFFF;
}