html, body {
    position: relative;
}

.container {
    justify-content: space-evenly;
    background-image: url('../assets/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container header h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.container #play a button {
    font-size: 36px;
    background-color: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 10px;
}

.container #modal-credits button {
    font-size: 14px;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.modal-container {
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.5);
    display: none;
}

.modal-container #modal {
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    background-color: #414141;
    color: rgb(214, 203, 203)
}

.modal-container #modal .modal-header h3, .modal-body h4 {
    margin: 5px;
}

.modal-container #modal .modal-footer button {
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: 'Aldrich', sans-serif;
    font-size: 18px;
    margin: 5px
}

.modal-container #modal .modal-footer button:hover {
    cursor: pointer;
    color: rgb(214, 203, 203);
    background-color: #000000;
    transition: 0.3s;
}

.modal-container #modal .modal-body a {
    text-decoration: none;
    color: cornflowerblue;
}