@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

html, body, p, h1 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100vh;
}

.container header #timer p {
    margin: 0 20px 20px 20px;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    text-align: center;
}

.container .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.container .cards .row {
    display: flex;
}

.container .cards .card {
    width: 110px;
    height: 110px;
    margin: 5px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back{
    transform: rotateX(180deg);
}

/* .flip-container:hover .flipper{
    transform: rotateX(180deg);
    /* se quiser uma animação na vertical,
    troque por rotateX(180deg)
    */
} */


@media (max-width: 1000px) {
    .container .cards .card {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 800px) {
    .container .cards .card {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 750px) {
    .container .cards .card {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 600px) {
    .container .cards .card {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 450px) {
    .container .cards .card {
        width: 60px;
        height: 60px;
    }
}