@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

html, body, p, h1 {
    margin: 0;
    padding: 0;
}

#timer p {
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    text-align: center;
}