@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

html, body, p, h1, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Aldrich', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100vh;
}

.container header {
    width: 100%;
}

.container header {
    display: flex;
    justify-content: center;
    position: relative;
}

.container header #exit a {
    color: #000000;
}

.container header #exit:hover {
    cursor: pointer
}

.container header #timer p {
    margin: 0 20px 20px 20px;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    text-align: center;
}

.container .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    cursor: pointer;
}

.container .cards .row {
    display: flex;
}

.container .cards .card {
    width: 110px;
    height: 110px;
    margin: 5px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateX(180deg);
}

@media (max-width: 1000px) {
    .container .cards .card {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 800px) {
    .container .cards .card {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 750px) {
    .container .cards .card {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 600px) {
    .container .cards .card {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 450px) {
    .container .cards .card {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 400px) {
    .container .cards .card {
        width: 50px;
        height: 50px;
    }
}

.locked {
    transition: opacity .5s;
    opacity: 0.5;
    cursor: default;
}

.container #modal {
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    display: none;
    z-index: 2;
}

.container #modal .modal-header h3 {
    font-size: 48px;
    text-transform: uppercase;
}

.container #modal .modal-body p {
    font-size: 24px;
    margin-bottom: 10px;
}

.container #modal .modal-footer button {
    border: 5px solid #000000;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
}

.container #modal .modal-footer button:hover {
    background-color: #000000;
    transition: .2s;
    cursor: pointer;
}

.container #modal .modal-footer button:hover a {
    transition: .2s;
    color: #FFFFFF;
}

.container #modal .modal-footer button a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.container .background-modal {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: rgba(2, 2, 2, 0.3);
    display: none;
}